*{
	/* font-family: Kanit, Arial, Helvetica, sans-serif */
	font-family: 'Prompt', sans-serif;
}
body{
	font-size: 0.85rem;
	line-height: 1.4;
	color: #000;
	background: #0c030c;	
}
.bgfullpage{
	position: relative;
	background: url('../img/saking/bgfull.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}
a{
	color: #fff;
}
ul {
    list-style-type: none;
}
a:hover, a:active, a:focus{	
	color: #fff;
	text-decoration: none;
}
.container.mini{
	max-width: 1000px;
}
.container > .row{
	width: calc(100% + 30px);
}

.c-white{ color: #fff; }
.c-yellow{ color: #fecb00; }
.c-darkyellow{ color: #ff9901; }
.c-purple{ color: #fe00fe; }
.c-red{ color: #fe0000; }
.c-secondary{ color: #4f4f74; }
.c-aqua{ color: #00c4f5; }
.c-green{ color: #82ae01; }
.c-darkred{ color: #7e0b07; }

a.c-white:hover,a.c-white:active,a.c-white:focus{ color: #e0e0e0; }
a.c-yellow:hover,a.c-yellow:active,a.c-yellow:focus{ color: #e2b501; }
a.c-darkyellow:hover,a.c-darkyellow:active,a.c-darkyellow:focus{ color: #d17d00; }
a.c-purple:hover,a.c-purple:active,a.c-purple:focus{ color: #da00da; }
a.c-red:hover,a.c-red:active,a.c-red:focus{ color: #da0000; }
a.c-secondary:hover,a.c-secondary:active,a.c-secondary:focus{ color: #3b3b5a; }
a.c-aqua:hover,a.c-aqua:active,a.c-aqua:focus{ color: #00a2ca; }
a.c-green:hover,a.c-green:active,a.c-green:focus{ color: #6b8f00; }
a.c-darkred:hover,a.c-darkred:active,a.c-darkred:focus{ color: #9e0a05; }
.bg-black{
	background: #000;
}
.form-control{
	background: #0c0904;
	border-color: #5f0592;
	border-radius: 1px;
	height: calc(1.5em + .75rem);
	padding: .35rem .75rem;
	color: #fff;
}
.form-control:focus,
.form-control:active{
	background: #0c0904;
	border-color: #5f0592;
	border-radius: 1px;
	box-shadow: none;
	color: #fff;
}
.btn{
	height: calc(1.5em + .75rem);
	padding: .35rem .75rem;
	color: #868686;
	position: relative;
}
.btn:hover,
.btn:focus,
.btn:active{
	box-shadow: none;
	color: #dadada;
}
.btn-root{
	color: #fff;
    background: linear-gradient(20deg, #360052, #0c0106, #360052);
    border: 1px solid transparent;
    border-color: #fff;
    /* height: 100%; */
}
.text-time{
	font-size: 18px;
    margin: auto 0;
}
/* .btn-root:hover,
.btn-root:focus,
.btn-root:active{
	color: #fff;
	background: linear-gradient(90deg, #ac9d61, #e7e5ae, #ac9d61);
	border-top-color: #dfdda6;
	border-right-color: #694825;
	border-bottom-color: #a79143;
	border-left-color: #dbcf92;
} */
.btn-play{
	font-size: 1rem;
    color: #fff;
    background: linear-gradient(0deg, #6a0000, #bf0000);
    border: 2px solid transparent;
    border-top-color: #fd3f3f;
    border-right-color: #800000;
    border-bottom-color: #4e0000;
    border-left-color: #d21c1c;
}
.btn-play:hover,
.btn-play:focus,
.btn-play:active{
	color: #fff;
	background: linear-gradient(0deg, #5a0000, #a80000);
	border-top-color: #c42f2f;
	border-right-color: #800000;
	border-bottom-color: #4e0000;
	border-left-color: #c01c1c;
}

.card{
	color: #b3b3b3;
	background: #000;
	border-color: #dcae55;
	overflow: hidden;
	border-radius: 0;
}
.none-border{
	border: none;
	border-color: transparent !important;
}
.none-border:after{
	margin-top: 20px;
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	left: 0;
	top: 0;
	background: linear-gradient(90deg, transparent, #a4743c, transparent);
}
.card .card-header{
	color: #000;
	padding: 10px;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	background: linear-gradient(90deg, #b28c3a, #f1ee84, #b28c3a, #f1ee84, #a57c35);
}
.header-title{
	color: #000;
	padding: 10px;
	text-align: center;
	border-radius: 0;
	text-transform: uppercase;
	background: linear-gradient(0deg, #af7e26, #f6b543, #af7e26);
}
.header-title h5{
	padding: 0;
	margin: 0;
}

.card .card-header h5{
	padding: 0;
	margin: 0;
}
.card .card-body.bg{
	background: url('../img/card-bg.png');
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
/*  top bar  */
.top-bar{
	padding: 0 0.5rem;
}
.bar-body{
	width: 1350px;
	margin: 0 auto;
}
.bar-body .row [class^="col-"]{
	padding-right: 5px;
	padding-left: 5px;
}
.bar-link{
	color: #707070;
	text-decoration: none;
	display: flex;
	justify-content: center;
}
.bar-link .bar-icon{
	background: url('../img/topbar/bar_bg1.png');
	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-align: center;
	padding: 5px 0;
}
.bar-link:hover{
	color: #fff;
	text-decoration: none;
}
.bar-link:hover .bar-icon{
	background: url('../img/topbar/bar_bg2.png');
	background-size: 100% 100%;
}
.bar-link:active{
	color: #000;
	text-decoration: none;
}
.bar-link:active .bar-icon{
	background: url('../img/topbar/bar_bg3.png');
	background-size: 100% 100%;
}
.bar-link .bar-icon img{
	margin: 0 auto;
	padding: 0 15px;
}
.bar-link .bar-icon h6{
	margin: 5px auto 10px;
	font-size: 12px;
	text-transform: uppercase;
}

.header-fix{
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	background: linear-gradient(0deg, #000, #ff0018);
	z-index: 99999;
}
.header-fix ul{
	padding: 10px 0;
	margin: 0 auto;
	list-style: none;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 600px;
}
.header-fix ul li{
	text-align: center;
	width: 18%;
}
.header-fix ul li a{
	display: block;
}
.header-fix ul li a:hover{
	color: #fff;
	text-decoration: underline;
}
.header-fix ul li .icon{
	padding: 10%;
	margin: 0 auto;
	display: flex;
	max-width: 40%;
	border-radius: 50%;
	background-color: #000;
}
.header-fix ul li .icon img{
	width: 100%;
}
.header-fix ul li h5{
	color: #fff;
	font-size: 16px;
	margin-top: .5rem;
}
.header-fix ul li:nth-child(3){
	width: 28%;
	margin-top: -4%;
}
.header-fix ul li:nth-child(3) .icon{
	padding: 0;
	position: relative;
}
.header-fix ul li:nth-child(3) .icon::before{
	content: "";
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	position: absolute;
	top: -2px;
	left: -2px;
	background: linear-gradient(0deg, #230003, #ff0000);
	border-radius: 50%;
	z-index: -1;
}
.nav-head{
	background: linear-gradient(90deg,#0000008c, #160619, #0000008c);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	z-index: 90;
}
.nav-head::before{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(90deg, transparent, rgba(140, 102, 111, 0.6), transparent);
}
.nav-head .logo{
	max-height: 100%;
	max-width: 100%;
}
.nav-head .head{
	width: 100%;
}

.nav-menu{
	padding: 0;
	border-top: 2px solid #a47908;
	background: linear-gradient(0deg, #eecf66, #b39642);
}
.nav-menu .web-menu{
	width: 100%;
}
.nav-menu .web-menu .navbar-nav{
	display: flex;
	justify-content: center;
}
.nav-menu .web-menu .navbar-nav .nav-item{
	display: flex;
	border-right: 1px solid #95772f;
	justify-content: center;
	text-align: center;
	background: linear-gradient(0deg, #eecf66, #b39642);
}
.nav-menu .web-menu .navbar-nav .nav-item:last-child{
	border-right: 0px solid;
}
.nav-menu .web-menu .navbar-nav .nav-item .nav-link{
	font-size: .9rem;
	padding: .5rem 1.2rem;
	position: relative;
}
.nav-menu .web-menu .navbar-nav .nav-item .nav-link.active.new{
	animation: walk-cyclet2 0.5s steps(5) infinite;
    -webkit-animation: walk-cyclet2 0.5s steps(5) infinite;
}
.nav-menu .web-menu .navbar-nav .nav-item .nav-link.active,
.nav-menu .web-menu .navbar-nav .nav-item .nav-link:hover{
	color: #fff;
}
.nav-menu .web-menu .navbar-nav .nav-item .nav-link.active.new::after{
	content: "";
	display: block;
	width: 25px;
	height: 20px;
	position: absolute;
	right: -5px;
	top: -15px;
	background: url('../img/new.png');
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
@media(max-width: 768px) {
	.bar-body{
		width: 100%;
	}
	.nav-head .head{
		width: auto;
	}
	.nav-menu .web-menu .navbar-nav .nav-item {
		flex: 1 25%;
		border-bottom: 1px solid #95772f;
	}
	.nav-menu .web-menu .navbar-nav .nav-item .nav-link{
    font-size: .7rem;
    padding: .5rem .3rem;
	}
	.nav-menu .web-menu .navbar-nav .nav-item:nth-child(5) .nav-link{
    padding: .5rem 1rem;
	}
	.nav-menu .web-menu .navbar-nav .nav-item .nav-link.active.new::after{
		right: 0;
    left: 0;
    margin: 0 auto;
    top: -10px;
	}
}
@media(min-width: 768px) {
	.bar-body{
		width: 100%;
	}
	.nav-head .head{
		width: 100%;
	}
	.nav-menu .web-menu .navbar-nav .nav-item{
		flex: auto;
		border-right: 1px solid #95772f;
	}
	.nav-menu .web-menu .navbar-nav .nav-item .nav-link.active.new::after{
		right: -5px;
		top: -15px;
	}
}
@media(min-width: 992px) {
	.bar-body{
		width: 95%;
	}
}
@media(min-width: 1200px) {
	.bar-body{
		width: 1350px;
	}
}
/*  top bar  */

.noification{
	padding: 3px 0;;
}
marquee{
	color: #fff;
}


/*  footer  */
.footer{
	margin-bottom: 98px;
}
.footer-sitemap{
	background: linear-gradient(0deg , #0b030c,#191918);
	position: relative;
}
/* .footer-sitemap::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	background: linear-gradient(90deg, #553216, #ffe49f, #553216);
} */
.footer-sitemap .sitemap h4{
	font-size: 1.2rem;
}
.footer-sitemap .sitemap ul.ls{
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
}
.footer-sitemap .sitemap ul.ls li{
	padding: .3rem 0;
	display: flex;
	align-items: center;
}
.footer-sitemap .sitemap ul.ls li::before{
	content: "\f0da";
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
}
.footer-sitemap .sitemap ul.ls.ls-1 li{
	width: 100%;
}
.footer-sitemap .sitemap ul.ls.ls-2 li{
	width: 50%;
}
.footer-sitemap ul.menu{
	padding: .5rem 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.footer-sitemap ul.menu li{
	margin-bottom: .5rem;
}
.footer-sitemap ul.menu li a{
	margin: 0 10px;
}
.footer-body{
	background: #161616;
	color: #fff;
	padding: 20px 0 30px;
}
.footer-body h6{
	margin-bottom: 20px;
	font-size: 14px;
}
.footer-body p{
	margin: 0;
	font-size: 12px;
}
.footer-body p a{
	color: #fe0000;
}
.footer-body p a:hover{
	color: #e1c474;
}

.footer-fix{
	background: linear-gradient(0deg, #000, #470052);
	position: fixed;
	bottom: 0;
	width: 100%;
	max-height: 70px;
}
.footer-fix ul{
	padding: 5px 0;
	margin: 0 auto;
	list-style: none;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 500px;
}
.footer-fix ul li{
	text-align: center;
	width: 18%;
}
.footer-fix ul li a{
	display: block;
}
.footer-fix ul li a:hover{
	color: #fff;
	text-decoration: underline;
}
.footer-fix ul li .icon{
	padding: 10%;
	margin: 0 auto;
	/* display: flex; */
	max-width: 40%;
	border-radius: 50%;
	background-color: #29062e;
}
.footer-fix ul li .icon img{
	width: 100%;
}
.footer-fix ul li h5{
	color: #fff;
	font-size: small;
	margin-top: .1rem;
}
.footer-fix ul li:nth-child(3){
	width: 23%;
	margin-top: -2%;
}
.footer-fix ul li:nth-child(3) .icon{
	padding: 0;
	position: relative;
}
.footer-fix ul li:nth-child(3) .icon::before{
	content: "";
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	position: absolute;
	top: -2px;
	left: -2px;
	background: linear-gradient(0deg, #f99d01, #ffbe23);
	border-radius: 50%;
	z-index: -1;
}

@media(max-width: 768px) {
	.footer{
		margin-bottom: 80px;
	}
	.footer-sitemap .sitemap h4{
		padding: .5rem 0;
		text-align: center;
		background: linear-gradient(90deg, rgba(191, 155, 80, 0.2), #bf9b50, rgba(191, 155, 80, 0.2) );
	}
	.footer-sitemap .sitemap ul.ls.ls-2 li{
		width: 100%;
	}
	.footer-sitemap ul.menu li a{
		font-size: 12px;
	}
}
@media(min-width: 768px) {
	.footer{
		margin-bottom: 98px;
	}
	.footer-sitemap .sitemap h4{
		padding: 0;
		text-align: left;
		background: transparent;
	}
	.footer-sitemap .sitemap ul.ls.ls-2 li{
		width: 50%;
	}
	.footer-sitemap ul.menu li a{
		font-size: 16px;
	}
}
@media(min-width: 992px) {
	
}
@media(min-width: 1200px) {
	
}
/*  footer  */


/*   home   */

@-webkit-keyframes moveclouds {
	0% {background-position-x: 1000px;}
	100% {background-position-x: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {background-position-x: 1000px;}
	100% {background-position-x: -1000px;}
}
@-o-keyframes moveclouds {
	0% {background-position-x: 1000px;}
	100% {background-position-x: -1000px;}
}
.banner{
	position: relative;
    background: url(../img/saking/bghome2.png);
    background-position: top center;
    backdrop-filter: contrast(80%);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
}
.paner{
	margin-top: -145px;
}
.banner > .mini > .row{
	align-items: flex-end;
}
@media(max-width: 768px) {
	.mt-0-sm{
		margin-top: 0px !important;
	}
	.img-fluid-banner{
		width: 90% !important;
	}
	.paner{
		margin-top: -20px !important;
	}
	.banner{
		/* padding-top: 0px;
		padding-bottom: 200px;
		background-position: center center;
		background: url(../img/saking/bghomemobile.png);
		background-size: cover; */
		padding-top: 0px;
		background-position: center center;
		background: url(../img/saking/bghomemobile.png);
		background-size: cover;
		background-repeat: no-repeat;
		padding-bottom: 200px;
	}
	.banner-game{
		background-size: cover !important;
		padding-bottom: 0px !important;
	}
	.mt-100 {
		margin-top: 50px !important;
	}
	.mt-200{
		margin-top: 300px !important;
	}
	.btn-root , .btn-play{
		font-size: 0.7rem;
		height: none;
	}
}
@media(min-width: 768px) {
	.mt-100 {
		margin-top: 100px !important;
	}
	.mt-200{
		margin-top: 300px !important;
	}
}

.banner-game{
	position: relative;
	background: url('../img/saking/bggame.png');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 300px;
}
.mt-200-x{
	margin-top: -200px;
}
.banner-game > .mini > .row{
	align-items: flex-end;
}

.img-fluid-banner{
	width: 80%;
}
.img-fluid-Label{
	width: 70%;
}
.img-fluid-line{
	width: 50%;
}
.img-fluid-edit{
	width: 100%;
	padding-bottom: 10px;
}
.content-1{
	/* background: url('../img/section-1-bg.png') ,-webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); Chrome10+,Safari5.1+; */
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-image: linear-gradient(
		to bottom, transparent, #0b030c
	  ), url('../img/section-1-bg.png');
	/* background-color: linear-gradient( #000, #20012f); */
}
.content-1-game{
	/* background: url('../img/section-1-bg.png') ,-webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); Chrome10+,Safari5.1+; */
	background-position: center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

.content-2{
	background: transparent;
}
.content-3{
	background: #0b030c;
}
.content-news:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	left: 0;
	top: 0;
	background: linear-gradient(90deg, transparent, #a4743c, transparent);
}
.st-5{
	background: linear-gradient(90deg, #be9140, #fef998, #be9140);
}
.st-4 .card{
	color: #fff;
}
.card-body h5{
	margin-top: 10px;
	color: #af8214;
	font-weight: 600;
}
.card-body h6{
	font-weight: 400;
}
.card-body img{
	width: 100%;
}
.st-4 .card-body{
	background: url('../img/s4-bg.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.st-4 .card-body ul{
	font-size: .9rem;
	list-style: none;
	padding: 0;
	margin: 0;
}
.st-4 .card-body ul li{
	display: flex;
	padding: 3px 0;
}
.st-4 .card-body ul li::before{
	content: "\f058";
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 7px;
	vertical-align: middle;
}

.st-5{
	overflow: visible;
}
.st-5 .x-image .left-image img,
.st-5 .x-image .right-image img{
	max-width: 330px;
}
.st-5 .x-image{
	position: relative;
}
.st-5 .x-image .left-image{
	left: -300px;
	bottom: 0;
}
.st-5 .x-image .right-image{
	right: -300px;
	bottom: 0;
}
@media(max-width: 768px) {
	.st-5 .x-image .left-image,
	.st-5 .x-image .right-image{
		display: inline-block;
		width: 45%;
		text-align: center;
	}
	.st-5 .x-image .left-image img,
	.st-5 .x-image .right-image img{
		max-width: 100%;
	}
}
@media(min-width: 768px) {
	.st-5 .x-image .left-image,
	.st-5 .x-image .right-image{
		position: absolute;
	}
}

.st-6 .card.item,
.st-7 .card.item{
	border: 0;
	border-radius: 0;
}
.st-6 .card.item .card-text,
.st-7 .card.item .card-text{
	padding: .5rem;
	background: #1c1e20;
}
.st-7 .card.item .card-text2{
	background: #131415;
}
.st-6 a:hover .card.item .card-text,
.st-7 a:hover .card.item .card-text{
	color: #fff;
}
.st-6 .btn-other,
.st-7 .btn-other{
	background: #b00107;
	width: 100%;
	color: #fff;
	border-radius: 0;
}
.st-6 .btn-other:hover,
.st-7 .btn-other:hover{
	background: #ce030a;
}

@-webkit-keyframes walk-cycle2 {
	0% {opacity:1; }
	100% {opacity:0;}
	/* Must be full height of sprite or skipping will happen.*/
  }
  
  @keyframes walk-cycle2 {
	0% {opacity:1; }
	100% {opacity:0; }
	/* Must be full height of sprite or skipping will happen.*/
  }
  @-webkit-keyframes walk-cyclet2 {
	0% {background-color: #D61A1B; }
	100% {background-color: #000;}
	/* Must be full height of sprite or skipping will happen.*/
  }
  
  @keyframes walk-cyclet2 {
	0% {background-color: #D61A1B; }
	100% {background-color: #000; }
	/* Must be full height of sprite or skipping will happen.*/
  }

/*    home     */

/*    casino     */

.casino{
	background: url('../img/casino/casino-bg.png');
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.cs-1{
	height: 35rem;
	padding-top: 5rem;
	background: url('../img/casino/banner.png');
	background-position: bottom center;
	background-size: auto 80%;
	background-repeat: no-repeat;
	text-align: center;
}

.cs-1 .btn-playnow{
	font-size: 1.5rem;
	padding: .4rem 1.5rem;
	color: #fff;
	border-radius: 30px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
		 1px 1px 0 #000;
	border: 2px solid transparent;
	background: linear-gradient(90deg, #b2853a, #fefb96, #b2853a, #fefb96, #a57c35);
	border-top-color: #e9da7b;
	border-right-color: #caa24d;
	border-bottom-color: #cdae5b;
	border-left-color: #dbc46c;
	height: auto;
	transition: all 500ms;
}
.cs-1 .btn-playnow:hover,
.cs-1 .btn-playnow:focus,
.cs-1 .btn-playnow:active{
	color: #fff;
	background: linear-gradient(90deg, #b28c3a, #f1ee84, #b28c3a, #f1ee84, #a57c35);
	border-top-color: #e9cf7b;
	border-right-color: #be9b4d;
	border-bottom-color: #c4a654;
	border-left-color: #c9b35d;
}
.cs-2{
	margin-top: -10rem;
}
.cs-2 .card{
	box-shadow: 0px 0px 20px 5px #000;
}
.cs-2 .card.item{
	position: relative;
	overflow: hidden;
	border-radius: calc(.25rem - 1px);
	border-color: #be9040;
}
.cs-2 .card.item .card-text{
	left: 0;
    bottom: 0;
    position: absolute;
    padding: .5rem;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    color: #fdf29b;
    text-transform: uppercase;
}
.cs-2 a:hover .card.item .card-text{
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
}

@media(max-width: 768px) {
	.casino {
			background-size: 150% auto;
	}
	.cs-1{
    height: 15rem;
    padding: 1rem 25% 0;
	}
	.cs-2{
		margin-top: -3rem;
	}
	.cs-1 .btn-playnow{
		font-size: 1rem;
		padding: .3rem 1rem;
	}
}
@media(min-width: 768px) {
	.cs-1{
		height: 25rem;
		padding-top: 4rem;
	}
	.cs-2{
		margin-top: -6rem;
	}
	.cs-1 .btn-playnow{
		font-size: 1.2rem;
		padding: .3rem 1.2rem;
	}
}
@media(min-width: 992px) {
	.cs-1{
		height: 35rem;
		padding-top: 5rem;
	}
	.cs-2{
		margin-top: -8rem;
	}
	.cs-1 .btn-playnow{
		font-size: 1.5rem;
		padding: .4rem 1.5rem;
	}
}

/*    casino     */


/*    sport     */

.sport{
	background: url('../img/sport/sport-bg.png');
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.sp-1{
	padding-top: 5rem;
	background: url('../img/sport/banner.png');
	background-position: bottom center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	text-align: center;
}

.sp-1 .btn-playnow{
	font-size: 1.5rem;
	padding: .4rem 1.5rem;
	color: #fff;
	border-radius: 30px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
		 1px 1px 0 #000;
	border: 2px solid transparent;
	background: linear-gradient(90deg, #b2853a, #fefb96, #b2853a, #fefb96, #a57c35);
	border-top-color: #e9da7b;
	border-right-color: #caa24d;
	border-bottom-color: #cdae5b;
	border-left-color: #dbc46c;
	height: auto;
	transition: all 500ms;
}
.sp-1 .btn-playnow:hover,
.sp-1 .btn-playnow:focus,
.sp-1 .btn-playnow:active{
	color: #fff;
	background: linear-gradient(90deg, #b28c3a, #f1ee84, #b28c3a, #f1ee84, #a57c35);
	border-top-color: #e9cf7b;
	border-right-color: #be9b4d;
	border-bottom-color: #c4a654;
	border-left-color: #c9b35d;
}
.sp-2 .card{
	box-shadow: 0px 0px 20px 5px #000;
}
.sp-2 .card.item{
	position: relative;
	overflow: hidden;
	border-radius: calc(.25rem - 1px);
	border-color: #be9040;
}
.sp-2 .card.item .card-text{
	left: 0;
	bottom: 0;
	position: absolute;
	padding: .5rem;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	color: #fff;
	text-transform: uppercase;
}
.sp-2 .card.item .card-text small{
	color: #fff;
	display: block;
}
.sp-2 a:hover .card.item .card-text{
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
}

@media(max-width: 768px) {
	.sport {
			background-size: 150% auto;
	}
	.sp-1{
		padding: 1rem 25% 4rem;
	}
	.sp-1 .btn-playnow{
		font-size: .8rem;
		padding: .3rem 1rem;
	}
}
@media(min-width: 768px) {
	.sp-1{
		padding: 2rem 0 8rem;
	}
	.sp-1 .btn-playnow{
		padding: .3rem 1.2rem;
	}
}
@media(min-width: 992px) {
	.sp-1{
		padding: 3rem 0 10rem;
	}
	.sp-1 .btn-playnow{
		font-size: 1.5rem;
		padding: .4rem 1.5rem;
	}
}

/*    sport     */


/*    game     */
.game{
	background: url('../img/saking/pageGame/bgGamePage.png');
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.ga-1{
	height: 35rem;
	padding-top: 5rem;
	background: url('../img/saking/pageGame/bgGame.png');
	background-position: top center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.ga-1 .btn-playnow{
	font-size: 1.5rem;
	padding: .4rem 1.5rem;
	color: #fff;
	border-radius: 60px;
  text-shadow:
   -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
		 2px 2px 0 #000;
	border: 2px solid transparent;
	background: linear-gradient(90deg, #b2853a, #fefb96, #b2853a, #fefb96, #a57c35);
	border-top-color: #e9da7b;
	border-right-color: #caa24d;
	border-bottom-color: #cdae5b;
	border-left-color: #dbc46c;
	height: auto;
	transition: all 500ms;
}
.ga-1 .btn-playnow:hover,
.ga-1 .btn-playnow:focus,
.ga-1 .btn-playnow:active{
	color: #fff;
	background: linear-gradient(90deg, #b28c3a, #f1ee84, #b28c3a, #f1ee84, #a57c35);
	border-top-color: #e9cf7b;
	border-right-color: #be9b4d;
	border-bottom-color: #c4a654;
	border-left-color: #c9b35d;
}
.ga-2{
	margin-top: -10rem;
}
.ga-2 .card{
	box-shadow: 0px 0px 20px 5px #000;
}
.ga-2 .card.item{
	position: relative;
	overflow: hidden;
	border-radius: calc(.25rem - 1px);
	border-color: #fff;
}
.ga-2 .card.item .card-text{
	left: 0;
	bottom: 0;
	position: absolute;
	padding: .5rem;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}
.ga-2 a:hover .card.item .card-text{
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
}

@media(max-width:768px) {
	.img-80{
		width: 80% !important;
	}
	.game {
			background-size: 150% auto;
	}
	.ga-1{
    /* height: 15rem; */
	/* padding: 1rem 25% 0; */
	padding-top: 2rem;
	}
	.ga-2{
		margin-top: -3rem;
	}
	.ga-1 .btn-playnow{
		font-size: 1.7rem;
		padding: .5rem 3rem;
	}
}
@media(min-width: 768px) {
	.ga-1{
		height: 25rem;
		padding-top: 4rem;
	}
	.ga-2{
		margin-top: -6rem;
	}
	.ga-1 .btn-playnow{
		font-size: 1.2rem;
		padding: .5rem 3rem;
	}
}
@media(min-width: 992px) {
	.ga-1{
		height: 45rem;
		padding-top: 1rem;
	}
	.ga-2{
		margin-top: -8rem;
	}
	.ga-1 .btn-playnow{
		font-size: 3rem;
		padding: .4rem 1.5rem;
	}
}

/*    game     */

/*    promotion     */

.promotion{
	background: url('../img/promotion-bg.png');
	background-position: center bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.promotion .card.item{
	border: 0;
	padding-bottom: .5rem;
	border-bottom: 1px solid #1c1e20;
}
.promotion .card.item .card-img-top{
	margin-bottom: .5rem;
}
.promotion .card.item .card-text{
	color: #ffcc00;
	margin-bottom: .5rem;
}
.promotion a:hover > .card.item .card-text{
	color: #fff;
}

.promotion .card.item ul {
	list-style: none; /* Remove default bullets */
}
  
.promotion .card.item  ul li::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #ffcc00; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1em; /* Also needed for space (tweak if needed) */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.promotion .card.item  ul.bl-red li::before {
	content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	color: #fe0000; /* Change the color */
	font-weight: bold; /* If you want it to be bold */
	display: inline-block; /* Needed to add space between the bullet and the text */
	width: 1em; /* Also needed for space (tweak if needed) */
	margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/*    promotion     */

/*    contact     */

.contact{
	background: url('../img/contact-bg.png');
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
}
.contact .card.item{
	border: 0;
	padding-bottom: .5rem;
	border-bottom: 1px solid #1c1e20;
}
.contact .card.item .card-img-top{
	margin-bottom: .5rem;
}
.contact .card.item .card-text{
	color: #ffcc00;
	margin-bottom: .5rem;
}
.contact a:hover > .card.item .card-text{
	color: #fff;
}

/*    contact     */

/* Blog */
.blog-img-cover{
	margin-bottom: 1rem;
}
.blog-img-cover img{
	width: 100%;
}
.blog p{
	text-indent: 1.5em;
	text-align: left;
}
.blog h2{
	font-size: 2em;
}
.blog h3{
	font-size: 1.25em;
}
.blog strong, 
.blog a{
	color: #ffcc00;
}
.blog img{
	width: 100%;
}
/* End Blog */


/* edit */
.navbar-nav{
	flex-direction: row;
}
.navbar-nav .nav-item{
	margin-right: 10px;
}
.menu-logo-nav{
	/* padding-top: 10px;
	padding-bottom: 10px; */
}
.menu-item{
	padding-top: 10px;
    text-align: center;
}
.menu-item:hover{
	cursor: pointer;
	opacity: 0.8;
}
.menu-item img{
	padding:5px;
}
.menu-item-m{
    display: flex;
    align-items: center;
    text-align: center;

}
.menu-item-m img{
	padding: 5px;
    height: 35px;
}
.menu-item-m a p{
	padding: 0;
	padding-bottom: 5px;
	margin: 0;
	/* position: absolute; */
	bottom: 0;
	font-size: 11px;
	font-weight: 600;
}
.content-image{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 100px;
	background: linear-gradient(to bottom, #2f0035, #000, #2f0035,transparent);
	/*  */
	/* background: linear-gradient(0deg,#000, #360052, #000, #360052); */
}
.img-slot{
	position: relative;
}	
.img-slot:nth-child(2) {
	left: -43px;
}
.img-slot:nth-child(3) {
	left: -76px;
}
.img-slot:nth-child(4) {
	left: -94px;
}
.img-slot:nth-child(5) {
	left: -115px;
}
.img-slot:nth-child(6) {
	left: -149px;
}
.img-slot:nth-child(7) {
	left: -197px;
}
.slotbanner{
	position: relative;
    left: 15px;
}
@media(max-width: 768px){
	.slotbanner{
		position: relative;
		left: -16px;
	}
	.content-image{
		padding-bottom: 0px;
	}
	.content-image h4{
		font-size: 15px !important;
	}	
	.content-image h4 span{
		font-size: 15px !important;
	}
	.img-slot{
		height: 90px !important;
		width: 18.2% !important;
	}
	.img-slot:nth-child(2) {
		left: -15px;
	}
	.img-slot:nth-child(3) {
		left: -28px;
	}
	.img-slot:nth-child(4) {
		left: -34px;
	}
	.img-slot:nth-child(5) {
		left: -41px;
	}
	.img-slot:nth-child(6) {
		left: -55px;
	}
	.img-slot:nth-child(7) {
		left: -70px;
	}
}


.content-image img{
	width: 100%;
}
.content-image h4{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}
.content-image h4 span{
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}
.c-gold{
	background: linear-gradient(90deg, #be903f, #fffa99, #be903f) !important;
}
.item img{
	width: 100%;
}
.container-footer{
	color: #fff;
}
.fs-10{
	font-size: 10px;
}
.fs-12{
	font-size: 12px !important;
}
.ls{
	padding-left: 0;
	font-size: 10px;
	color: #fff;
}
.img-model{
	justify-content: space-between;
	display: flex;
	position: fixed;
	bottom: 0px;
	z-index: 0;
}
.female-model-left i , .female-model-right i{
	font-size: 20px;
	color: #fff;
}
.female-model-left img{
	position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
}
.female-model-left i{
	position: fixed;
    left: 14%;
    bottom: 45%;
    z-index: 100;
}
.female-model-right img{
	position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
}
.female-model-right i{
	position: fixed;
    right: 17%;
    bottom: 45%;
    z-index: 100;
}
.content-game{
	margin-top: 150px;
}
.mt-200{
	margin-top: 100px;
}
.card-text-h{
	height: 125px;
}
.card-text h6 {
	font-size: 13px;
    font-style: italic;
    font-weight: 600;
}
.card-text p {
	font-size: 12px;
}
/* End edit */